<div class="container py-3 mb-2 text-center">
  <section class="container-fluid">
    <div>
      <img src="../../../../assets/images/tea-1.png" alt="ew">
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>

      </div>
    </ng-template>

    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

  </section>
</div>
