<div class="container py-3 mb-2 text-center">
  <section class="container-fluid">
    <div>
      <img src="../../../../assets/images/tea-1.png" alt="ew">
    </div>
    <ng-template #content>
              <div class="modal-content border-warning">
                <div class="modal-header border-warning  bg-secondary">
                  <h5 class="modal-title text-warning">Посмотрите наши чайные коллекции</h5>
                </div>
                <div class="modal-footer bg-secondary">
                  <button type="button" class="btn btn-outline-warning" (click)="close()">Отмена</button>
                  <button type="button" class="btn btn-outline-warning" (click)="goToCatalog()">Смотреть</button>
                </div>
              </div>
    </ng-template>
  </section>
</div>
