<div class="container py-3">

  <section class="form row pt-5  justify-content-center" id="formHide">
    <div class="col-md-12 col-lg-8 col-xl-6">
      <div class="row mb-5 text-center">
        <div class="col fs-2 fw-bold">
          Сделать заказ
        </div>
      </div>
      <form class="row justify-content-center g-4 text-start">
        <div class="col-md-6 col-lg-6 mt-3 ">
          <label for="product" class="form-label">Товар</label>
          <input type="text" class="form-control" id="product">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3 ">
          <label for="comment" class="form-label">Комментарий к заказу</label>
          <input type="text" class="form-control" id="comment">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3 ">
          <label for="inputFirstName" class="form-label">Имя</label>
          <input type="text" class="form-control" id="inputFirstName">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3 ">
          <label for="inputSecondName" class="form-label">Фамилия</label>
          <input type="text" class="form-control" id="inputSecondName">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3">
          <label for="inputPhone" class="form-label">Телефон</label>
          <input type="text" class="form-control" id="inputPhone">
        </div>
        <div class="col-md-6 col-lg-6 mt-3 ">
          <label for="inputCountry" class="form-label">Страна</label>
          <input type="text" class="form-control" id="inputCountry">
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
          <label for="inputZip" class="form-label">Индекс</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-lg-12 mt-3">
          <label for="inputAddress" class="form-label">Адрес</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
        <div class="col-12 mt-4 d-flex justify-content-center justify-content-lg-start">
          <div class="row">
            <div class="col-auto">
              <button type="submit" class="btn btn-primary ps-4 pe-4" id="submitButton">
                Отправить
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
