<nav class="navbar container-fluid mb-5 px-3 py-2 navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
    <ul class="navbar-nav w-100 d-flex justify-content-around mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link fs-5 fw-medium " [routerLink]="'/'">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  fs-5 fw-medium " [routerLink]="'/catalog'">Каталог</a>
      </li>
    </ul>
  </div>
</nav>
